<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Available search engines</string>
		<key>Type</key>
		<string>Group</string>
	</dict>	
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>google</string>
		<key>Title</key>
		<string>Show Google</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>googleimages</string>
		<key>Title</key>
		<string>Show Google Image Search</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>imdb</string>
		<key>Title</key>
		<string>Show IMDB</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>wikipedia</string>
		<key>Title</key>
		<string>Show Wikipedia</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>bing</string>
		<key>Title</key>
		<string>Show Bing</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>amazon</string>
		<key>Title</key>
		<string>Show Amazon</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>	
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>usehttps</string>
		<key>Title</key>
		<string>Use HTTPS where available</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
